<footer class="bg-w">
    <div class="flex-lc">
        <div class="scroll flex-lc">
            <i class="icon"></i>
            <span>Scroll down</span>
            <div class="line"></div>
        </div>
        <p>Thank you for watching!</p>
        <a href="" title="" class="ml-auto">www.sohagame.vn</a>
    </div>
</footer>