<header>
    <nav class="navbar">
        <div class="btn-toggle flex-center bg-w pr">
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="box-logo bg-w flex-center pr">
            <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
        </div>
        <div class="navbar-collapse">
            <ul id="menu" class="navbar-nav flex">
                <li>
                    <a href="javascript:;" title="" class="sub">Khái quát chung về công ty</a>
                    <ul class="sub-menu">
                        <li data-menuanchor="section-1"><a href="#section-1" title="">Khái quát chung</a></li>
                        <li data-menuanchor="section-2"><a href="#section-2" title="">Quá trình hình thành và phát triển</a></li>
                    </ul>
                </li>
                <li data-menuanchor="section-3"><a href="#section-3" title="" class="nosub">Cơ cấu nhân sự</a></li>
                <li data-menuanchor="section-4"><a href="#section-4" title="" class="nosub">Chính sách và phúc lợi</a></li>
                <li data-menuanchor="section-5"><a href="#section-5" title="" class="nosub">Liên hệ hỗ trợ</a></li>
            </ul>
        </div>
    </nav>
    <div class="modal-nav"></div>
</header>
