<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style-m.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% include "../share/header-m.html" %}
{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script src="./assets/js/aos.js"></script>
<script>
    $('.navbar-nav > li > .sub').on('click',function (){
        $(this).parent().toggleClass('show');
    });
    $('.navbar-nav > li > .nosub').on('click',function (){
        $('.sub-menu li').removeClass('active');
        $('.navbar-nav > li > .nosub').parent().removeClass('active');
        $(this).parent().toggleClass('active');
    });
    $('.sub-menu li').on('click',function (){
        $('.sub-menu li').removeClass('active');
        $(this).addClass('active');
        $('.navbar-nav > li > .nosub').parent().removeClass('active');
    });
    $(window).scroll(function () {
        if ($(this).scrollTop() > 0) {
            $('header').addClass('scroll');
        }else{
            $('header').removeClass('scroll');
        }
    });
    $('.accordion li h4').on('click',function (){
       $('.accordion li').removeClass('active');
       $(this).parent().addClass('active');
    });

    AOS.init({
        easing: 'ease-out-back',
        duration: 1000,
        once: true,
        offset: 120,
    });


    //accordion
    var accordion_content = $('.accordion .content');
    var accordion__header        = $('.accordion .header');
    var accordion_active = $('.accordion > .active');
    accordion_content.hide();
    accordion_active.find('.content').slideToggle();

    accordion__header.click(function (e) {
        e.preventDefault();
        $(this).parent().toggleClass('active');

        if (accordion_content.parent('.active')) {
            $(this).parent().find('.content').slideToggle();
        }
        return false;
    });



</script>
</body>
</html>