<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js"></script>
<script src="./assets/js/slick.js"></script>
<script>

    $('#fullpage').fullpage({
        anchors: ['section-1','section-2', 'section-3','section-4','section-5','section-6','section-7','section-8','section-9','section-10'],
        menu: '#menu',
        slidesNavigation: true,
        lazyLoad: true,
        credits: {enabled: false}
    });



    $(window).on('load',function (){
        $('.loading').addClass('hide');
        $('.section-1 .content').addClass('active');
    });
    $('.navbar-nav > li > .sub').on('click',function (){
        $(this).parent().toggleClass('show');
    });

    setInterval(function (){
        if($('.section-6').hasClass('active')){
            $('footer').addClass('thankyou');
        }else{
            $('footer').removeClass('thankyou');
        }
    },100);
</script>
</body>
</html>