<main>
    <div id="section-1" class="section section-1">
        <h2 class="title"><span>GIỚI THIỆU</span> CÔNG TY</h2>
        <div class="content">
            <div class="img-wrapper pr"><img src="./assets/img/img-8.jpg" alt=""></div>
            <h4 data-aos="fade-up">WELCOME</h4>
            <h1 data-aos="fade-up" data-aos-delay="200"><span>SOHAGAME</span></h1>
            <a href="" title="" class="btn-discover flex-center" data-aos="flip-up" data-aos-delay="400">KHÁM PHÁ NGAY</a>
            <div class="intro" data-aos="fade-up" data-aos-delay="600">
                <strong>SohaGame</strong> là đơn vị tiên phong trong việc phát hành game mobile tại Việt Nam. Sau 10 năm hoạt động luôn nỗ lực không ngừng để liên tục nâng cao vị thế trong thị trường Việt Nam nói chung và trên khu vực châu Á nói riêng, <strong>SohaGame</strong> luôn là một trong những lựa chọn hàng đầu của game thủ thích dòng MMORPG và Thẻ tướng Kiếm hiệp, Tam quốc.
            </div>
            <div class="img-wrapper pr"><img src="./assets/img/img-9.jpg" alt=""></div>
        </div>
    </div>
    <div id="section-2" class="section section-2">
        <h2 class="title"><span>QUÁ TRÌNH HÌNH THÀNH</span> VÀ PHÁT TRIỂN</h2>
        <div class="box-timeline">
            <div class="timeline flex pr">
                <div class="item" data-aos="fade-right">
                    <div class="year flex-center">2011</div>
                    <div class="text">
                        <p>SohaGame Chính thức ra đời</p>
                    </div>
                </div>
                <div class="item" data-aos="fade-right" data-aos-delay="200">
                    <div class="year flex-center">2012</div>
                    <div class="text">
                        <p>Chính thức vượt qua 2 đối thủ Zing ME và Go.vn trở thành cổng phát hành web game có tốc độ tăng trưởng nhanh nhất Việt Nam năm 2012.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2013</div>
                    <div class="text">
                        <p>Tạo ra sự bùng nổ nhanh chóng của mảng thị trường smartphone game do chính SohaGame khai phá. Ra mắt iGà - tựa game bắn súng tọa độ tiên phong trên iOS và Android...</p>
                        <p>Ra mắt Thủy Hử 3D - game online 3D đầu tiên trên mobile tại Việt Nam.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2014</div>
                    <div class="text">
                        <p>Ra mắt Đại Minh Chủ - sản phẩm game mobile đầu tiên đánh dấu sự hợp tác của SohaGame và Emobi (nay là Hikers Game), một studio game Việt. Đây cũng là dự án game Việt đầu tiên của SohaGame.</p>
                        <p>SohaGame khẳng định vị thế dẫn đầu trên thị trường game, lọt top 3 Nhà phát hành game lớn nhất Việt Nam.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2015</div>
                    <div class="text">
                        <p>SohaGame lần đầu lên sóng truyền hình châu Á trong chương trình Fortunes from fun của Channel News Asia.</p>
                        <p>SohaGame cán mốc 1 triệu người chơi/tháng</p>
                        <p>Đạt 10 triệu user tích lũy.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2016</div>
                    <div class="text">
                        <p>Igà cán mốc 150 tỷ doanh thu.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2017</div>
                    <div class="text">
                        <p>Igà cán mốc 200 tỷ doanh thu.</p>
                        <p>Ra mắt Kim Dung Quần Hiệp Truyện, game 3D đầu tiên do SohaGame tự phát triển. Trò chơi nhanh chóng lọt TOP game kiếm hiệp ăn khách bậc nhất trong năm.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center"></div>
                    <div class="text">
                        <p>Mộng Võ Lâm, một game “made in Vietnam” khác do SohaGame phát hành cán mốc 100 tỷ doanh thu.</p>
                        <p>Đạt 20 triệu user tích lũy.</p>
                        <p>Ra mắt Làng Lá Phiêu Lưu Ký, cán mốc DAU hơn 130k.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2019</div>
                    <div class="text">
                        <p>Ra mắt Thục Sơn Kỳ Hiệp Mobile, đạt peak doanh thu 1 triệu USD</p>
                        <p>Ra mắt Cửu Kiếm 3D - game MMORPG 3D đầu tiên của SohaGame đạt mức DAU 90.000</p>
                        <p>Gun Gun Mobile kế thừa iGà, nhanh chóng đạt 1 triệu lượt tải, trở thành một trong những game Bắn súng tọa độ thành công nhất Việt Nam.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2020</div>
                    <div class="text">
                        <p>Ra mắt Nghịch Mệnh Sư, làn gió mới của dòng game Tam Quốc, khác lạ về cả phong cách đồ họa lẫn lối chơi so với các game từng ra trước đó, thu hút lượng lớn game thủ Việt Nam.</p>
                        <p>Tam Quốc Tốc Chiến ra mắt giữa tâm bão Covid-19, trở thành game Tam Quốc ra mắt thành công nhất lịch sử của SohaGame.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2021</div>
                    <div class="text">
                        <p>SohaGame lần đầu lên sóng truyền hình châu Á trong chương trình Fortunes from fun của Channel News Asia.</p>
                        <p>SohaGame cán mốc 1 triệu người chơi/tháng</p>
                        <p>Đạt 10 triệu user tích lũy.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">2022</div>
                    <div class="text">
                        <p>Igà cán mốc 150 tỷ doanh thu.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-wrapper">
            <img src="./assets/img/img-10.jpg" alt="">
        </div>
    </div>
    <div id="section-3" class="section section-3">
        <h2 class="title"><span>CƠ CẤU</span> NHÂN SỰ</h2>
        <div class="personnel flex pr">
            <div class="col-left">
                <div class="per per-2" data-aos="fade-right">
                    <div class="avatar"><img src="./assets/img/avt-2.png" alt=""></div>
                    <div class="text-center">
                        <div class="name">Anh Bùi Đức Hạnh</div>
                        <div class="position">Giám Đốc Vận Hành</div>
                    </div>
                </div>
                <div class="per per-3" data-aos="fade-right" data-aos-delay="200">
                    <div class="avatar"><img src="./assets/img/avt-3.png" alt=""></div>
                    <div class="text-center">
                        <div class="name">Anh Phạm Như Duy</div>
                        <div class="position">Giám Đốc Marketing</div>
                    </div>
                </div>
                <div class="per per-4" data-aos="fade-right" data-aos-delay="400">
                    <div class="avatar"><img src="./assets/img/avt-4.png" alt=""></div>
                    <div class="text-center">
                        <div class="name">Anh Vũ Quang Thắng</div>
                        <div class="position">Trưởng bộ phận Platform</div>
                    </div>
                </div>
            </div>
            <div class="col-middle">
                <div class="per per-1">
                    <div class="avatar"><img src="./assets/img/avt-1.png" alt=""></div>
                    <div class="text-center">
                        <div class="name">Chị <br> Nguyễn Thùy Dung</div>
                        <div class="position">Giám Đốc SohaGame</div>
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="per per-5" data-aos="fade-left">
                    <div class="avatar"><img src="./assets/img/avt-5.png" alt=""></div>
                    <div class="text-center">
                        <div class="name">Chị Nguyễn Thùy Linh</div>
                        <div class="position">Trưởng bộ phận Biz</div>
                    </div>
                </div>
                <div class="per per-6" data-aos="fade-left" data-aos-delay="200">
                    <div class="avatar"><img src="./assets/img/avt-6.png" alt=""></div>
                    <div class="text-center">
                        <div class="name">Anh Lại Thanh Phúc</div>
                        <div class="position">Trưởng bộ phận R&D</div>
                    </div>
                </div>
                <div class="per per-7" data-aos="fade-left" data-aos-delay="400">
                    <div class="avatar"><img src="./assets/img/avt-7.png" alt=""></div>
                    <div class="text-center">
                        <div class="name">Chị Đinh Thị Minh Thuận</div>
                        <div class="position">Trưởng ban HCNS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion">
            <div class="part active" data-aos="fade-up">
                <div class="header flex-lc">
                    <div class="part__avatar"><img src="./assets/img/avt-2.png" alt=""></div>
                    <div class="part__name">BỘ PHẬN VẬN HÀNH</div>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <h4>TEAM VẬN HÀNH CENTER 2</h4>
                            <div class="des">Cho ra mắt và vận hành các sản phẩm mang lại doanh thu chính cho Công ty</div>
                        </li>
                        <li>
                            <h4>TEAM VẬN HÀNH CENTER 6</h4>
                            <div class="des">Cho ra mắt và vận hành các sản phẩm mang lại doanh thu chính cho Công ty</div>
                        </li>
                        <li>
                            <h4>TEAM VẬN HÀNH CENTER 8</h4>
                            <div class="des">Cho ra mắt và vận hành các sản phẩm mang lại doanh thu chính cho Công ty</div>
                        </li>
                        <li>
                            <h4>TEAM DESIGN</h4>
                            <ul class="des">
                                <li>Thiết kế các ấn phẩm nhận diện, quảng cáo của dự án game như: Logo, trang chủ, landing page, banner, ...</li>
                                <li>Theo dõi xu hướng mới nhất liên quan đến thiết kế đồ họa để có thể sử dụng trong các dự án thiết kế.</li>
                                <li>Đảm bảo tính thẩm mỹ và tính khả thi của các sản phẩm đầu ra</li>
                            </ul>
                        </li>
                        <li>
                            <h4>TEAM OVERSEAS</h4>
                            <ul class="des">
                                <li>Tiếp nhận và Việt hóa các sản phẩm game của công ty.</li>
                                <li>Cầu nối trao đổi, hỗ trợ triển khai, thúc đẩy các công việc phát triển sản phẩm với đối tác.</li>
                                <li>Hỗ trợ phản hồi, xử lý các phản hồi của user, tối ưu các tính năng theo yêu cầu, phối hợp các bộ phận đảm bảo và duy trì chất lượng sản phẩm.</li>
                                <li>Duy trì mối quan hệ tốt với các đối tác.</li>
                                <li>Tìm hiểu các thông tin liên quan về sản phẩm theo yêu cầu.</li>
                            </ul>
                        </li>
                        <li>
                            <h4>TEAM CC</h4>
                            <ul class="des">
                                <li>Hỗ trợ khách hàng qua các kênh: hotline, website báo lỗi, inbox fanpage, mail, store,...</li>
                                <li>Quản lý fanpage SohaGame và hỗ trợ vận hành sending nếu cần thiết.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part" data-aos="fade-up">
                <div class="header flex-lc">
                    <div class="part__name">BỘ PHẬN MARKETING</div>
                    <div class="part__avatar"><img src="./assets/img/avt-3.png" alt=""></div>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <h4>TEAM MARKETING GAME 1</h4>
                            <div class="des">Thực hiện các chiến dịch truyền thông hỗ trợ Game ra mắt nhằm mục đích tiếp cận càng nhiều khách hàng và tối ưu hóa doanh thu</div>
                        </li>
                        <li>
                            <h4>TEAM MARKETING GAME 2</h4>
                            <div class="des">Thực hiện các chiến dịch truyền thông hỗ trợ Game ra mắt nhằm mục đích tiếp cận càng nhiều khách hàng và tối ưu hóa doanh thu</div>
                        </li>
                        <li>
                            <h4>TEAM UA SOLUTION</h4>
                            <ul class="des">
                                <li>Lên kế hoạch truyền thông cho dự án trên các trang tin game. Trực tiếp đưa slogan, định hướng, nét nổi bật của sản phẩm vào đầu user</li>
                                <li>Xử lý khủng hoảng truyền thông</li>
                                <li>Sản xuất ấn phẩm và vận hành quảng cáo cho game SHG và đối tác Phối hợp MKT Planner triển khai plan truyền thông sản phẩm</li>
                            </ul>
                        </li>
                        <li>
                            <h4>TEAM MEDIA</h4>
                            <ul class="des">
                                <li>Motion Graphics Design</li>
                                <li>Video Editor</li>
                                <li>Director Of Photography/Camera</li>
                            </ul>
                        </li>
                        <li>
                            <h4>TEAM PAYMENT & ĐỐI SOÁT</h4>
                            <ul class="des">
                                <li>Theo dõi doanh thu, đối soát với các bên đối tác</li>
                                <li>Thu hồi công nợ</li>
                                <li>Hợp tác triển khai các chương trình khuyến mại với các đối tác</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part" data-aos="fade-up">
                <div class="header flex-lc">
                    <div class="part__avatar"><img src="./assets/img/avt-4.png" alt=""></div>
                    <div class="part__name">BỘ PHẬN PLATFORM</div>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <h4>TEAM IOS & ANDROID</h4>
                            <ul class="des">
                                <li>Phát triển các sản phẩm mobile như SDK, app SohaGame</li>
                                <li>Hỗ trợ tích hợp sdk và các vấn đề gặp phải trên mobile</li>
                                <li>Phát hành ứng dụng lên Store và xử lý các vấn đề với Store</li>
                            </ul>
                        </li>
                        <li>
                            <h4>TEAM Q & A</h4>
                            <ul class="des">
                                <li>Phát hành ứng dụng lên Store và xử lý các vấn đề với Store</li>
                                <li>Đảm bảo chất lượng sản phẩm</li>
                            </ul>
                        </li>
                        <li>
                            <h4>TEAM PUBLISH</h4>
                            <div class="des">Xây dựng quản lý và phát triển hệ thống Portal. Phụ trách kỹ thuật các event, landing cho các game. Phát triển hệ thống quản lý nhân sự nội bộ</div>
                        </li>
                        <li>
                            <h4>TEAM SYSTEM</h4>
                            <div class="des">Xác định các vấn đề dựa trên nhu cầu của người tiêu dùng và đề ra những giải pháp để đánh giá lại quá trình thực hiện. Ngoài ra, kỹ sư hệ thống cũng đóng một vai trò quan trọng trong việc giám sát hiệu suất của một hệ thống và liên tục đưa ra những đánh giá cho từng giai đoạn hoạt động.</div>
                        </li>
                        <li>
                            <h4>TEAM SOAP</h4>
                            <ul class="des">
                                <li>Quản lý và xây dựng các nền tảng (thanh toán, login, tài khoản, loyalty, giftcode ...</li>
                                <li>Quản lý và xây dựng hạ tầng cho các sản phẩm mobile SDK, App SohaGame, VIP Care.</li>
                                <li>Nghiên cứu và triển khai các giải pháp hạ tầng tracking, monitor data từ tất cả các nền tảng (mobile, web, pc...)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part" data-aos="fade-up">
                <div class="header flex-lc">
                    <div class="part__name">PHÁT TRIỂN KINH DOANH</div>
                    <div class="part__avatar"><img src="./assets/img/avt-5.png" alt=""></div>
                </div>
            </div>
            <div class="part" data-aos="fade-up">
                <div class="header flex-lc">
                    <div class="part__avatar"><img src="./assets/img/avt-6.png" alt=""></div>
                    <div class="part__name">BỘ PHẬN R&D</div>
                </div>
            </div>
            <div class="part" data-aos="fade-up">
                <div class="header flex-lc">
                    <div class="part__name">BỘ PHẬN HỖ TRỢ</div>
                    <div class="part__avatar"><img src="./assets/img/avt-7.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="img-wrapper"><img src="./assets/img/img-11.jpg" alt=""></div>
    </div>
    <div id="section-4" class="section section-4">
        <h2 class="title"><span>CHÍNH SÁCH</span> PHÚC LỢI</h2>
        <div class="policy">
            <div class="item flex" data-aos="fade-righr">
                <div class="icon flex-center"><img src="./assets/img/calendar.svg" alt=""></div>
                <div class="info">
                    <h4>TRẢ LƯƠNG</h4>
                    <p>Luôn ting ting đúng hẹn vào ngày cuối cùng của tháng.</p>
                    <p>Được cấp thẻ Super VIP từ VPBank, chuyển khoản, rút tiền tất cả các ngân hàng không mất phí.</p>
                </div>
            </div>
            <div class="item flex" data-aos="fade-right" data-aos-delay="200">
                <div class="icon flex-center"><img src="./assets/img/travel-and-tourism.svg" alt=""></div>
                <div class="info">
                    <h4>KICK OFF VÀ DU LỊCH</h4>
                    <p>Du lịch hàng năm</p>
                    <p>Kick off: 1 năm từ 2 đến 3 lần, thường vào tháng 4, tháng 8, tháng 10.</p>
                </div>
            </div>
            <div class="item flex" data-aos="fade-right" data-aos-delay="400">
                <div class="icon flex-center"><img src="./assets/img/save-time.svg" alt=""></div>
                <div class="info">
                    <h4>NGÀY NGHỈ VÀ LÀM THÊM GIỜ</h4>
                    <p>Nghỉ chiều T7 và chủ nhật.</p>
                    <p>Một năm có thêm 12 ngày phép ngoài các ngày lễ theo quy định của Nhà nước.</p>
                    <p>Làm thêm giờ: được trả lương OT theo quy định của luật Lao động.</p>
                    <p>Lưu ý: nghỉ phép > 3 ngày phải có chữ ký của Giám đốc. OT cần đăng ký trên tool HR.</p>
                </div>
            </div>
        </div>
        <div class="bg-green">
            <div class="policy-row policy-row-1 flex">
                <div class="item">
                    <div class="icon flex-center"><img src="./assets/img/wage.svg" alt="" data-aos="zoom-in"></div>
                    <div class="txt">Lương tháng 13, Thưởng theo dự án/theo thành tích hàng tháng,...</div>
                </div>
                <div class="item">
                    <div class="icon flex-center"><img src="./assets/img/stationery.svg" alt="" data-aos="zoom-in"></div>
                    <div class="txt">Được cấp máy tính và văn phòng phẩm (sổ tay, bút, giấy note, giá để tài liệu,...) theo yêu cầu.</div>
                </div>
            </div>
            <div class="policy-row policy-row-2 flex">
                <div class="item">
                    <div class="icon flex-center"><img src="./assets/img/ticket.svg" alt="" data-aos="zoom-in"></div>
                    <div class="txt">Phụ cấp gửi xe</div>
                </div>
                <div class="item">
                    <div class="icon flex-center"><img src="./assets/img/green-tea.svg" alt="" data-aos="zoom-in"></div>
                    <div class="txt">Đồ ăn nhẹ miễn phí: <br> bánh quy, trà, cà phê</div>
                </div>
                <div class="item">
                    <div class="icon flex-center"><img src="./assets/img/medical-report.svg" alt="" data-aos="zoom-in"></div>
                    <div class="txt">Khám sức khỏe <br> hàng năm</div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-5" class="section section-5">
        <div class="content">
            <div class="banner"><img src="./assets/img/img-12.jpg" alt=""></div>
            <div class="contact">
                <h3>LIÊN HỆ PHÒNG HÀNH CHÍNH NHÂN SỰ</h3>
                <div class="flex">
                    <p>MRS THUẬN <span>(Tuyển dụng)</span> <br> TELL: <a href="tel:84 911 010 639">+84 911 010 639</a></p>
                    <p>MRS TRANG <span>(Admin)</span> <br> TELL: <a href="tel:84 911 971 988">+84 911 971 988</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="thankyou">
        <img src="./assets/img/thanks.svg" alt="">
    </div>
</main>