:root{
  --shg: #005640;
  --green: #32BF6B;
}
body{
  background: url("#{$img-path}/bg.jpg") no-repeat 0 0/cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

a{transition: .25s;}
a:hover{text-decoration: none;}
@mixin after{
  content: "";
  width: vw(10px); height: vw(10px);
  background: var(--shg);
  position: absolute;
}

//header
header{
  width: 100%;
  position: fixed; top: 0; left: 0; z-index: 9;
  border-bottom: 1px solid var(--shg);
  .logo{width: vw(380px);}
  .box-logo{
    width: vw(478px); height: 100%; border-right: 1px solid var(--shg);
    &::after{@include after; bottom: vw(-5px); right: vw(-5px);}
  }
}
.navbar{
  padding: 0;
  height: vw(110px);
  justify-content: flex-start;
}
.navbar-collapse{
  display: flex; flex-direction: column;
  position: fixed; top: 0; left: vw(-416px);
  width: vw(416px); height: 100%;
  padding: vw(100px) 0 0;
  background: url("#{$img-path}/bg.jpg") no-repeat 0 0/cover;
  transition: all .4s ease-out;
  z-index: 91; overflow: auto;
  &.show{left: 0;}
  .close{
    display: block; text-indent: -9999em;
    width: 13px; height: 13px;
    background: url("#{$img-path}/icon-close.png") no-repeat;
    opacity: 1;
    position: absolute; top: 18px; left: 20px;
  }
}
.btn-toggle{
  width: vw(162px); height: 100%; border-right: 1px solid var(--shg); z-index: 2;
  &.active{
    background: none; z-index: 99; border-right: none;
    &::after{display: none;}
    .navbar-toggler{
      span{width: vw(60px); transform: rotate(45deg);}
      span:after{width: vw(60px);}
      span:before{top: 0;  transform: rotate(90deg);}
      span:after{opacity: 0;}
    }
  }
  &::after{
    @include after; bottom: vw(-5px); right: vw(-5px);
  }
}
.navbar-toggler{
  display: block;
  width: vw(60px);
  height: vw(35px);
  padding: 0;
  background: none; border: none;
  position: relative;
  span{
    display: block; width: 100%; height: vw(4px); border-radius: 2px;
    background: var(--shg); position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
  }
  span:before,span:after{
    content: ''; display: block; width: 100%; height: vw(4px); background: var(--shg); position: absolute; border-radius: 2px;
  }
  span:before{top: vw(-14px);}
  span:after{bottom: vw(-14px);}
}

.navbar-nav{
  width: 100%;
  flex-direction: column;
  padding: 0 vw(15px) 0 vw(35px);
  > *+*::before{
    content: "";
    width: vw(308px); height: 1px; background: #000;
    position: absolute;
    top: 0; left: 0;
  }
  .show{
    > a{font-weight: 700; color: #005640;}
    > a::after{filter: brightness(1);}
    .sub-menu{display: block;}
  }
  .active{
    > a{font-weight: 700; color: #005640;}
    > a::after{filter: brightness(1);}
  }
  > li{padding: vw(30px) 0; position: relative;}
  > li > a{
    padding-left: vw(46px); color: #000; font-weight: 500; font-size: vw(20px); line-height: vw(26px); position: relative;
    &::after{
      content: "";
      width: vw(18px); height: vw(19px);
      background: url("#{$img-path}/icon-shg.svg") no-repeat 0 0/contain;
      position: absolute; left: 0; top: vw(4px);
      filter: brightness(0);
    }
  }
  .sub-menu{
    display: none;
    margin-top: vw(20px);
    padding-left: vw(34px);
    >*+*{margin-top: vw(10px);}
    li{padding-left: vw(24px); position: relative;}
    li::before{
      content: "";
      width: vw(6px); height: vw(6px);
      border-radius: 50%;
      background: #000;
      position: absolute; left: 0; top: vw(10px);
    }
    li a{display: block; font-weight: 500; font-size: vw(16px); line-height: vw(26px); font-style: italic; color: #000;}
    .active a{font-weight: 700; font-size: 16px; color: #25AA59;}
  }
}

.fullpage-wrapper{
  &::after{
    content: ""; display: none;
    height: vw(111px); width: 50%;
    background: url("#{$img-path}/bg.jpg") no-repeat 0 0/cover;
    position: absolute; left: vw(640px); top: 0;
  }
}
.section{
  .content{height: 100%;}
}
.section-1{
  .active{
    h4{letter-spacing: inherit;}
    h1 span{transform: translateY(0); transition-delay: .8s;}
    .btn-discover{opacity: 1;}
  }
  &.active{

  }
  .col-left{width: 57%; padding: vw(145px) 0 0 vw(85px);}
  .col-right{
    width: 43%; height: 100%; position: relative;
    &::after{@include after; bottom: vw(-5px); left: vw(-5px);}
  }
  .img-wrapper{
    border-left: 1px solid var(--shg); height: 100%;
    &::before{@include after; left: vw(-5px);}
    &::before{top: vw(-5px);}
  }
  h4,h1{font-size: vw(150px); font-weight: 700;}
  h4{
    margin-bottom: vw(-42px);
    letter-spacing: 300px;
    text-shadow: 1px 0 #005640, -1px 0 #005640, 0 1px #005640, 0 -1px #005640,
    1px 1px #005640, -1px -1px #005640, 1px -1px #005640, -1px 1px #005640;
    color: #fff;
    transition: .8s;
  }
  h1{
    display: block; height: vw(180px);
    text-shadow: none;
    color: #32BF6B;
    overflow: hidden;
    span{display: block; transform: translateY(150px); transition: .5s;}
  }
  .btn-discover{
    border: 1px solid #005640;
    width: vw(335px); height: vw(74px);
    color: var(--shg);
    font-weight: 700;
    font-size: vw(24px);
    text-transform: uppercase;
    opacity: 0;
    transition: .3s;
    &:hover{color: #fff; background: var(--shg);}
  }
}
.section-2{
  &.active{
    h4{letter-spacing: inherit; transition-delay: .2s;}
    .shg span{height: vw(120px); transition-delay: .7s;}
    .intro{transform: translateX(0); opacity: 1; transition-delay: 1.2s;}
  }
  .col-left,.col-right{width: 50%;}
  .col-left{
    padding: 0 0 0 vw(152px);
  }
  h4{font-size: vw(100px); font-weight: 700; letter-spacing: 200px; transition: 1s;}
  .shg{
    width: vw(584px); height: vw(114px);
    background: url("#{$img-path}/line-2.svg") no-repeat 0 0/contain;
    font-size: vw(80px);
    font-weight: 700;
    color: #32BF6B;
    overflow: hidden;
    span{display: block; height: 0; overflow: hidden; transition: height .8s;}
  }
  .intro{margin-top: vw(38px); padding: 0 vw(67px) 0 vw(90px); text-align: justify; transform: translateX(-50px); transition: .5s; opacity: 0;}
  .img-wrapper{
    width: vw(804px); position: relative;
    &::after{
      content: "";
      width: vw(75px); height: vw(63px);
      background: url("#{$img-path}/line-7.png") no-repeat 0 0/contain;
      position: absolute; top: vw(-54px); right: vw(-67px);
    }
  }
}
.section-3{
  .timeline{
    margin-top: vw(24px);
    &::after{
      content: "";
      width: 100%; height: vw(70px);
      background: var(--green);
      position: absolute; top: 0; left: 0; z-index: -1;
    }
    justify-content: center;
    >*+* .year::before{
      content: "";
      width: vw(104px); height: vw(12px);
      background: url("#{$img-path}/arrow-1.svg") no-repeat 0 0/contain;
      position: absolute; top: 50%; transform: translateY(-50%); left: vw(-80px);
    }
    .item{width: vw(242px); margin: 0 vw(25px);}
    p{margin-top: vw(14px); padding-left: vw(20px); position: relative; font-size: vw(14px); line-height: vw(20px);}
    p::before{
      content: "";
      width: vw(9px); height: vw(9px);
      border: 1px solid #000;
      border-radius: 50%;
      background: #F90;
      position: absolute; left: 0; top: vw(7px);
    }
    .year{
      height: vw(70px); font-weight: 700; font-size: vw(25px); line-height: vw(30px); color: #fff; position: relative;
    }
  }
}
.section-4{
  &.active{
    .personnel{
      .per{transform: scale(1);}
      .per-2{transition-delay: .5s;}
      .per-3{transition-delay: .5s;}
      .per-4{transition-delay: .5s;}
      .per-5{transition-delay: .5s;}
      .per-6{transition-delay: .5s;}
      .per-7{transition-delay: .5s;}
    }
  }
  .personnel{
    width: vw(1507px); height: vw(345px);
    margin: vw(110px) auto 0;
    background: url("#{$img-path}/line-1.svg") no-repeat 0 0/contain;
    position: relative;
    .name{margin: vw(4px) 0 vw(-5px); font-size: vw(20px); font-weight: 600; line-height: vw(30px);}
    .position{font-weight: 500; font-size: vw(16px); line-height: vw(30px);}
    .per{ position: absolute; transform: scale(0); transition: .8s;}
    .per-1{width: vw(298px); left: vw(590px); top: vw(-108px); }
    .per-2{width: vw(261px); left: vw(-135px); top: vw(72px);}
    .per-3{width: vw(261px); left: vw(167px); top: vw(200px);}
    .per-4{width: vw(251px); left: vw(447px); top: vw(337px);}
    .per-5{width: vw(261px); left: vw(786px); top: vw(337px);}
    .per-6{width: vw(261px); left: vw(1072px); top: vw(200px);}
    .per-7{width: vw(261px); left: vw(1353px); top: vw(78px);}
  }
}
.section-4-1,.section-4-2,.section-4-3{
  &.active{
    .col-middle .avatar{transform: scale(1); transition-delay: .3s;}
  }
}
.section-5{
  &.active{
    .policy{
      .item{transform: translateX(0);}
      .item:nth-child(2){transition-delay: .5s;}
      .item:nth-child(3){transition-delay: 1s;}
    }
  }
  .content{padding: vw(24px) vw(40px); justify-content: space-between;}
  .col-left{width: vw(755px);}
  .col-right{width: vw(995px);}
  .gallery{
    display: flex; width: vw(948px);
    grid-template-columns: repeat(2,1fr);
    grid-gap: vw(20px);
    margin-left: auto;
    .cols > *+*{margin-top: vw(20px);}
  }
  .policy{
    >*+*{border-top: 1px dotted #003E2F;}
    .item{
      padding: vw(30px) 0; transform: translateX(-110%); transition: 1s;
      &:nth-child(1) .icon img{width: vw(98px);}
      &:nth-child(2) .icon img{width: vw(102px);}
      &:nth-child(3) .icon img{width: vw(109px);}
    }
  }
  .icon{
    width: vw(150px); height: vw(150px);
    background: #003E2F;
    border-radius: 50%;
  }
  .info{width: calc(100% - 7.8125vw); padding-left: vw(45px);}
  h4{margin-bottom: vw(14px); font-weight: 700; font-size: vw(24px); line-height: vw(26px);}
  p{padding-left: vw(22px); font-size: vw(16px); line-height: vw(26px); position: relative;}
  p::before{
    content: "";
    width: vw(9px); height: vw(9px);
    border: 1px solid #000;
    border-radius: 50%;
    background: #F90;
    position: absolute; left: 0; top: vw(7px);
  }
}
.section-5-1{
  &.active{
    .policy-row{
      .icon img{transform: scale(1); transition-delay: .5s;}
    }
  }
}
.section-6{
  &.active{}
  .content{padding-top: vw(65px);}
  .contact{
    padding: vw(40px) vw(80px) 0;
    > div >*+*{margin-left: vw(150px);}
    p{padding-left: vw(25px); font-weight: 600; font-size: vw(32px); line-height: vw(42px); position: relative;}
    p::before{
      content: "";
      width: vw(7px); height: vw(64px);
      background: #25AA59;
      position: absolute; top: 50%; transform: translateY(-50%); left: 0;
    }
    a{color: #000;}
    span{color: #005640;}
  }
  h3{margin-bottom: vw(25px); color: #005640; font-weight: 700; font-size: vw(32px); line-height: vw(42px);}
}
.section-4-4{
  &.active{
    .part{
      &.other{opacity: 1; transform: translateX(0);}
      &.biz{transition-delay: .4s;}
      &.rd{transition-delay: .8s;}
      &.hcns{transition-delay: 1.2s;}
    }
  }
  .banner{width: vw(1075px); position: absolute; left: 0;}
}
.part{
  height: 100%;
  &.biz{margin: vw(12px) 0 0 vw(654px);}
  &.rd{margin: vw(-80px) 0 0 vw(875px);}
  &.hcns{
    margin: vw(-80px) 0 0 vw(1085px);
    .item{width: vw(488px);}
  }
  &.other{
    height: auto; align-items: flex-start; transform: translateX(-100px); opacity: 0; transition: .6s;
    .avatar{margin-right: vw(40px);}
    .item{margin-top: vw(54px);}
  }
  &.operating{
    .col-middle::after{
      content: "";
      width: vw(542px); height: vw(486px);
      background: url("#{$img-path}/line-3.svg") no-repeat 0 0/contain;
      position: absolute; left: vw(-64px);
    }
    .col-left{
      .item:nth-child(1),.item:nth-child(4){margin-left: vw(67px);}
    }
    .col-right{
      .item:nth-child(2){margin-left: vw(68px);}
    }
  }
  &.marketing,&.platform{
    .col-middle::after{
      content: "";
      width: vw(474px); height: vw(486px);
      background: url("#{$img-path}/line-5.svg") no-repeat 0 0/contain;
      position: absolute; left: vw(-64px);
    }
    .col-left{
      >*+*{margin-top: vw(140px);}
      .item:nth-child(1),.item:nth-child(3){margin-left: vw(68px);}
    }
    .col-right{
      >*+*{margin-top: vw(168px);}
    }
  }
  .col-left,.col-right{width: vw(635px);}
  .col-middle{
    width: vw(410px);
    .avatar{transform: scale(0); transition: .8s;}
  }
  .item{
    width: vw(567px);
    margin-bottom: vw(65px);
    padding: 0 vw(22px) vw(20px);
    border-radius: vw(20px);
    border: 1px solid #32BF6B;
    background: #FFF;
    &:last-child{margin-bottom: 0;}
    &::after{
      content: "";
      width: 100%; height: 100%; border-radius: vw(20px);
      background: #32BF6B;
      position: absolute; right: vw(-10px); bottom: vw(-5px); z-index: -1;
    }
  }
  .avatar{
    .img{width: vw(253px); margin: 0 auto vw(10px);}
    .name{font-weight: 600; font-size: vw(18px); line-height: vw(30px);}
    .position{font-weight: 500; font-size: vw(16px);}
  }
  h3{
    margin: vw(-18px) 0 vw(17px);
    font-weight: 900;
    font-size: vw(32px);
    color: #32BF6B;
    line-height: vw(30px);
    text-transform: uppercase;
  }
  li{list-style: none;  padding-left: vw(18px);}
  li::before{
    content: "";
    width: vw(9px); height: vw(9px);
    background: #F90;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute; left: 0; top: vw(5px);
  }
  p,li{
    margin-bottom: 0;

    color: #003E2F;
    font-weight: 500;
    font-size: vw(15px);
    line-height: vw(20px);
    position: relative;
  }
}
.policy-row{
  justify-content: space-around;
  .icon{width: vw(180px); height: vw(180px); border-radius: 50%; margin: 0 auto vw(20px);}
  .icon img{max-width: 75%; transform: scale(0); transition: .6s;}
  .txt{margin: 0 auto; text-align: center; color: #fff; font-size: vw(24px); font-weight: 500; line-height: vw(34px);}
}
.policy-row-1{
  background: #005640;
  margin-top: vw(70px);
  padding: vw(25px) 0;
  .item:nth-child(2){
    .txt{width: vw(404px);}
  }
  .txt{width: vw(375px);}
  .icon{background: #fff;}
}
.policy-row-2{
  padding: 0 vw(160px);
  .txt{color: #005640;}
  .icon{background: none; margin: vw(35px) auto vw(20px); height: auto;}
}

footer{
  width: 100%; height: vw(80px);
  padding: 0 vw(86px);
  border-top: 1px solid var(--shg);
  position: fixed; bottom: 0; left: 0;
  &.thankyou{
    .scroll{display: none;}
    p{display: block;}
  }
  > div{height: 100%;}
  .scroll{
    .icon{width: vw(16px); height: vw(26px); background: url("#{$img-path}/mouse.svg") no-repeat 0 0/contain; position: relative;}
    .icon::after{
      content: "";
      width: vw(3px); height: vw(6px);
      background: url("#{$img-path}/mouse-scroll.svg") no-repeat 0 0/contain;
      position: absolute; left: vw(6px); top: vw(9px);
      animation: mouse 1s infinite linear;
    }
    span{padding: 0 vw(14px) 0 vw(10px); font-weight: 500; font-size: vw(16px); line-height: vw(26px); color: var(--shg);}
    .line{height: 1px; width: vw(450px); background: var(--shg);}
  }
  a{font-size: vw(16px); color: var(--shg); font-weight: 500;}
  p{color: #005640; font-weight: 500; font-size: vw(16px); display: none;}
}
.modal-nav{
  width: 100%; height: 100%; display: none;
  background: rgba(0, 86, 64, 0.50);
  position: fixed; top: 0; left: 0;
  &.show{display: block;}
}

@media (max-width: 1440px) {
  .section-3{
    .timeline{
      margin-top: 12px;
      .item{width: vw(300px); margin: 0 vw(10px);}
      p{margin-top: 5px; font-size: 11px; line-height: 18px;}
      p::before{width: 5px; height: 5px; top: 6px;}
    }
  }
  .section-5{
    p{font-size: 13px;}
    p::before{width: 7px; height: 7px;}
  }
  .part{
    p,li{font-size: 12px; line-height: 1.3;}
  }
  .policy-row .icon img{max-width: 60%;}
}

@-webkit-keyframes mouse {
  0%{transform: translateY(5px);}
  50%{transform: translateY(-5px);}
  100%{transform: translateY(5px);}
}

@-webkit-keyframes letter {
  to{letter-spacing: 300px;}
  from{letter-spacing: inherit;}
}
.loading{
  width: 100%; height: 100%;
  background: rgba(#fff,1);
  filter: blur(4px);
  position: fixed; top: 0; left: 0; z-index: 99; transition: .4s;
  &.hide{opacity: 0; z-index: -1;}
}
.txt-sh{
  color: #fff;
  text-shadow: 1px 0 #005640, -1px 0 #005640, 0 1px #005640, 0 -1px #005640,
1px 1px #005640, -1px -1px #005640, 1px -1px #005640, -1px 1px #005640;
}


//uikit
.pr{position: relative;}
.fp-tableCell{display: block; padding: vw(111px) 0 vw(80px);}
button{
  cursor: pointer;
  &:focus{outline: none;}
}
.bg-w{background: url("#{$img-path}/bg.jpg") no-repeat 0 0/cover;}
h2.title{
  height: vw(111px); padding-left: vw(50px);
  display: flex; align-items: center;
  position: absolute; left: vw(640px); top: 0;
  font-size: vw(48px); font-weight: 700;
  color: var(--shg);
  span{margin-right: vw(8px); color: #fff; text-shadow: 1px 0 #005640, -1px 0 #005640, 0 1px #005640, 0 -1px #005640,
  1px 1px #005640, -1px -1px #005640, 1px -1px #005640, -1px 1px #005640;}
}

.txt-md{
  font-size: vw(20px);
  font-weight: 500;
  line-height: vw(30px);
}