:root{
  --shg: #005640;
  --green: #32BF6B;
}
body{
  background: url("#{$img-path}/bg.jpg") repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
html {
  scroll-behavior: smooth;
}

a{transition: .25s;}
a:hover{text-decoration: none;}
@mixin after{
  content: "";
  width: 6px; height: 6px;
  background: var(--shg);
  position: absolute;
}

//header
header{
  width: 100%;
  position: fixed; top: 0; left: 0; z-index: 9;
  border-bottom: 1px solid var(--shg);
  border-top: 1px solid var(--shg);
  &.scroll{
    background: url("#{$img-path}/bg.jpg") no-repeat 0 0/cover;
    .box-logo{opacity: 1;}
  }
  .box-logo{
    width: 240px; height: 100%; padding: 0 12px; border-right: 1px solid var(--shg); opacity: 0; transition: .3s;
    &::after{@include after; bottom: -3px; right: -3px;}
  }
}
.navbar{
  padding: 0;
  height: 60px;
  justify-content: flex-start;
}
.navbar-collapse{
  display: flex; flex-direction: column;
  position: fixed; top: 0; left: -78%;
  width: 78%; max-width: 420px; height: 100%;
  padding: 15% 0 0;
  background: url("#{$img-path}/bg.jpg") no-repeat 0 0/cover;
  transition: all .4s ease-out;
  z-index: 91; overflow: auto;
  &.show{left: 0;}
}
.btn-toggle{
  width: 80px; height: 100%; border-right: 1px solid var(--shg); z-index: 2;
  &.active{
    background: none; z-index: 99; border-right: none;
    &::after{display: none;}
    .navbar-toggler{
      span{width: vwm(43px); transform: rotate(45deg);}
      span:after{width: vwm(43px);}
      span:before{top: 0;  transform: rotate(90deg);}
      span:after{opacity: 0;}
    }
  }
  &::after{
    @include after; bottom: -3px; right: -3px;
  }
}
.navbar-toggler{
  display: block;
  width: 30px;
  height: 22px;
  padding: 0;
  background: none; border: none;
  position: relative;
  span{
    display: block; width: 100%; height: 2px; border-radius: 2px;
    background: var(--shg); position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
  }
  span:before,span:after{
    content: ''; display: block; width: 100%; height: 2px; background: var(--shg); position: absolute; border-radius: 2px;
  }
  span:before{top: -8px;}
  span:after{bottom: -8px;}
}

.navbar-nav{
  width: 100%;
  flex-direction: column;
  padding: 0 6%;
  > *+*::before{
    content: "";
    width: 100%; height: 1px; background: #000;
    position: absolute;
    top: 0; left: 0;
  }
  .show{
    > a{font-weight: 700; color: #005640;}
    > a::after{filter: brightness(1);}
    .sub-menu{display: block;}
  }
  .active{
    > a{font-weight: 700; color: #005640;}
    > a::after{filter: brightness(1);}
  }
  > li{padding: 20px 0; position: relative;}
  > li > a{
    padding-left: 25px; color: #000; font-weight: 500; font-size: 16px; line-height: 26px; position: relative;
    &::after{
      content: "";
      width: 14px; height: 15px;
      background: url("#{$img-path}/icon-shg.svg") no-repeat 0 0/contain;
      position: absolute; left: 0; top: 4px;
      filter: brightness(0);
    }
  }
  .sub-menu{
    display: none;
    margin-top: 20px;
    padding-left: 20px;
    >*+*{margin-top: 10px;}
    li{padding-left: 15px; position: relative;}
    li::before{
      content: "";
      width: 5px; height: 5px;
      border-radius: 50%;
      background: #000;
      position: absolute; left: 0; top: 10px;
    }
    li a{display: block; font-weight: 500; font-size: 15px; line-height: 26px; font-style: italic; color: #000;}
    .active a{font-weight: 700; color: #25AA59;}
  }
}

//main
main{padding-top: 62px; overflow: hidden;}

.section-1{
  .active{
    h4{letter-spacing: inherit;}
    h1 span{transform: translateY(0); transition-delay: .8s;}
    .btn-discover{opacity: 1;}
  }
  h2.title{
    margin-bottom: 0px;
    font-size: 24px;
    position: absolute; top: 17px; left: 90px;
  }
  .img-wrapper{
    height: 100%;
    img{width: 100%;}
  }
  h4,h1{display: block; font-weight: 700; text-align: center;}
  h4{
    margin: 15px 0 -5px;
    font-size: 42px;
    text-shadow: 1px 0 #005640, -1px 0 #005640, 0 1px #005640, 0 -1px #005640,
    1px 1px #005640, -1px -1px #005640, 1px -1px #005640, -1px 1px #005640;
    color: #fff;
    transition: .8s;
  }
  h1{
    display: block;
    text-shadow: none;
    color: #32BF6B;
    font-size: 50px;
    overflow: hidden;
    span{display: block; transition: .5s;}
  }
  .intro{padding: 26px 16px;}
  .btn-discover{
    border: 1px solid #005640;
    width: 240px; height: 55px; margin: 10px auto 0;
    color: var(--shg);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    transition: .3s;
    &:hover{color: #fff; background: var(--shg);}
  }
}
.section-2{
  padding-top: 65px;
  h2.title{
    span{display: block;}
  }
  .box-timeline{width: 100%; margin-top: 20px; overflow: auto;}
  .timeline{
    margin: 20px 0 10px; width: 600vw; flex-wrap: nowrap;
    &::after{
      content: "";
      width: 100%; height: 45px;
      background: var(--green);
      position: absolute; top: 0; left: 0; z-index: -1;
    }
    justify-content: center;
    .year::before{
      content: "";
      width: 84px; height: 10px;
      background: url("#{$img-path}/arrow-1.svg") no-repeat 0 0/contain;
      position: absolute; top: 50%; transform: translateY(-50%); right: 0;
    }
    .item{width: 50vw; padding: 0 5px;}
    .item:last-child .year::before{display: none;}
    p{margin-top: 14px; padding-left: 18px; position: relative; font-size: 14px; line-height: 20px;}
    p::before{
      content: "";
      width: 8px; height: 8px;
      border: 1px solid #000;
      border-radius: 50%;
      background: #F90;
      position: absolute; left: 0; top: 7px;
    }
    .year{height: 45px; padding-left: 16px; justify-content: flex-start; font-weight: 700; font-size: 22px; line-height: 30px; color: #fff; position: relative;}
  }
  .img-wrapper img{width: 100%;}
}
.section-3{
  padding-top: 65px;
  .personnel{
    margin-top: 35px; padding: 0 5px; align-items: center;
    &::after{
      content: "";
      width: vwm(295px); height: vwm(494px);
      background: url("#{$img-path}/line-6.svg") no-repeat 0 0/contain;
      position: absolute; left: 50%; transform: translateX(-50%); top: vwm(65px);
    }
    .col-left,.col-right{
      width: 32%;
      >*+*{margin-top: vwm(44px);}
    }
    .col-middle{width: 36%;}
    .avatar{width: vwm(140px); margin: 0 auto;}
  }
  .name{margin: vwm(5px) 0 vwm(5px); font-size: vwm(16px); font-weight: 700;}
  .position{font-weight: 500; font-size: vwm(14px);}
  .accordion{
    padding: 0 16px; margin-top: 55px;
    .header{height: 50px; border-radius: 16px; background: #32BF6B; cursor: pointer;}
  }
  .part{
    margin-bottom: 30px;
    border-radius: 16px;
    border: 1px solid #32BF6B;
    &:nth-child(odd){
      .header{padding-left: 20px;}
      .part__avatar{margin-right: 10px;}
    }
    &:nth-child(even){
      .header{justify-content: flex-end; padding-right: 20px;}
      .part__avatar{margin-left: 10px;}
    }
    &__avatar{width: 80px; margin-top: -15px;}
    &__name{margin-bottom: 12px; color: #fff; font-weight: 700; font-size: 16px;}
    .content{
      padding: 25px 15px;
    }
    ul > *+*{margin-top: 12px;}
    ul.des{
      li{position: relative; padding-left: 18px;}
      li::before{
        content: "";
        width: 6px; height: 6px;
        background: #F90;
        border: 1px solid #000;
        border-radius: 50%;
        position: absolute; left: 0; top: 7px;
      }
    }
    li{list-style: none;}
    .active .des{display: block;}
    .des{
      display: none;
      padding: 15px 0 5px;
      color: #003E2F;
      font-size: 14px;
      font-weight: 500;
      p{margin-bottom: 5px;}
    }
    h4{
      padding: 10px 5px;
      border-radius: 16px;
      border: 1px solid #32BF6B;
      background: #FFF;
      color: #32BF6B;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      cursor: pointer;
    }
    h4::after{
      content: "";
      background: #32BF6B;
      border-radius: 16px;
      width: 100%; height: 100%;
      position: absolute; z-index: -1;
      bottom: -3px; right: -7px;
    }
  }
  .img-wrapper{
    margin-top: 40px;
    img{width: 100%;}
  }
}
.section-4{
  padding: 65px 0 0;
  .policy{
    margin-top: 45px; padding: 0 15px;
    >*+*{border-top: 1px dotted #003E2F;}
    .item{
      padding: 15px 0; transition: 1s;
      &:nth-child(1) .icon img{width: vwm(98px);}
      &:nth-child(2) .icon img{width: vwm(102px);}
      &:nth-child(3) .icon img{width: vwm(109px);}
    }
  }
  .icon{
    width: 90px; height: 90px;
    background: #003E2F;
    border-radius: 50%;
  }
  .info{width: calc(100% - 90px); padding-left: 15px;}
  h4{margin-bottom: 10px; font-weight: 700; font-size: 18px; line-height: 24px;}
  p{padding-left: 18px; font-weight: 500; font-size: 14px; line-height: 22px; position: relative;}
  p::before{
    content: "";
    width: 6px; height: 6px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #F90;
    position: absolute; left: 0; top: 8px;
  }
}
.section-5{
  .banner img{width: 100%;}
  .contact{
    padding: 20px 10px;
    > div >*+*{margin-left: 15px;}
    p{padding-left: 15px; font-weight: 600; font-size: 12px; position: relative;}
    p::before{
      content: "";
      width: 3px; height: 80%;
      background: #25AA59;
      position: absolute; top: 50%; transform: translateY(-50%); left: 0;
    }
    a{color: #000;}
    span{color: #005640;}
  }
  h3{margin-bottom: 20px; color: #005640; font-weight: 700; font-size: 17px;}
}

.policy-row{
  justify-content: space-around;
  background: #005640;
  padding: 25px 0;
  .item{padding: 0 10px;}
  .icon{width: 90px; height: 90px; background: #fff; border-radius: 50%; margin: 0 auto 20px;}
  .icon img{max-width: 65%; transition: .6s;}
  .txt{margin: 0 auto; text-align: center; color: #fff; font-size: 14px; font-weight: 500;}
}
.policy-row-1{
  margin-top: 40px;
  .item{width: 50%;}
}
.policy-row-2{
  .item{width: 33.3%;}
}
.thankyou{width: 90%;}

footer{
  width: 100%; height: vw(80px);
  padding: 0 vw(86px);
  border-top: 1px solid var(--shg);
  position: fixed; bottom: 0; left: 0;
  &.thankyou{
    .scroll{display: none;}
    p{display: block;}
  }
  > div{height: 100%;}
  .scroll{
    .icon{width: vw(16px); height: vw(26px); background: url("#{$img-path}/mouse.svg") no-repeat 0 0/contain; position: relative;}
    .icon::after{
      content: "";
      width: vw(3px); height: vw(6px);
      background: url("#{$img-path}/mouse-scroll.svg") no-repeat 0 0/contain;
      position: absolute; left: vw(6px); top: vw(9px);
      animation: mouse 1s infinite linear;
    }
    span{padding: 0 vw(14px) 0 vw(10px); font-weight: 500; font-size: vw(16px); line-height: vw(26px); color: var(--shg);}
    .line{height: 1px; width: vw(450px); background: var(--shg);}
  }
  a{font-size: vw(16px); color: var(--shg); font-weight: 500;}
  p{color: #005640; font-weight: 500; font-size: vw(16px); display: none;}
}
.modal-nav{
  width: 100%; height: 100%; display: none;
  background: rgba(0, 86, 64, 0.50);
  position: fixed; top: 0; left: 0;
  &.show{display: block;}
}

@media (max-width: 1440px) {

}

@-webkit-keyframes mouse {
  0%{transform: translateY(5px);}
  50%{transform: translateY(-5px);}
  100%{transform: translateY(5px);}
}

@-webkit-keyframes letter {
  to{letter-spacing: 300px;}
  from{letter-spacing: inherit;}
}
.loading{
  width: 100%; height: 100%;
  background: rgba(#fff,1);
  filter: blur(4px);
  position: fixed; top: 0; left: 0; z-index: 99; transition: .4s;
  &.hide{opacity: 0; z-index: -1;}
}
.txt-sh{
  color: #fff;
  text-shadow: 1px 0 #005640, -1px 0 #005640, 0 1px #005640, 0 -1px #005640,
1px 1px #005640, -1px -1px #005640, 1px -1px #005640, -1px 1px #005640;
}


//uikit
.pr{position: relative;}
.fp-tableCell{display: block; padding: vw(111px) 0 vw(80px);}
button{
  cursor: pointer;
  &:focus{outline: none;}
}
.bg-w{background: url("#{$img-path}/bg.jpg") no-repeat 0 0/cover;}
h2.title{
  display: block; text-align: center;
  font-size: 26px; font-weight: 700;
  color: var(--shg);
  span{color: #fff; text-shadow: 1px 0 #005640, -1px 0 #005640, 0 1px #005640, 0 -1px #005640,
  1px 1px #005640, -1px -1px #005640, 1px -1px #005640, -1px 1px #005640;}
}

.txt-md{
  font-size: vw(20px);
  font-weight: 500;
  line-height: vw(30px);
}

@media (min-width: 768px) {
  .section-2{
    .timeline{
      width: 399.6vw;
      .item{width: 33.3vw;}
    }
  }
  .section-3{
    .personnel{transform: scale(.8);}
  }
}